<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Formulário</title>
  <link rel="stylesheet" href="../public/stylesheets/estilo.css">
</head>
<body>
  <h1>Informe seu nome e idade:</h1>
  <form action="/checar" method="POST">
    <label for="usuario">Nome:</label>
    <input type="text" id="usuario" name="usuario" required><br><br>

    <label for="senha">Idade:</label>
    <input type="text" id="senha" name="senha" required><br><br>

    <button type="submit">Enviar</button>
  </form>
</body>
</html>
